absl-py==0.13.0
alabaster==0.7.12
apex==0.1
appdirs==1.4.4
argon2-cffi==21.1.0
asgiref==3.4.1
attrs==21.2.0
audioread==2.1.9
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.9.3
bleach==4.1.0
blis==0.7.4
brotlipy==0.7.0
cachetools==4.2.2
catalogue==2.0.5
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.0
click==7.1.2
codecov==2.1.12
colorama==0.4.4
conda==4.10.3
conda-build==3.21.4
conda-package-handling==1.7.3
coverage==5.5
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.5
Cython==0.29.24
cython-bbox==0.1.3
dataclasses==0.8
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
Django==3.2.6
docutils==0.16
entrypoints==0.3
expecttest==0.1.3
filelock==3.0.12
fire==0.4.0
flake8==3.7.9
Flask==2.0.1
flatbuffers==2.0
future==0.18.2
glob2==0.7
google-auth==1.35.0
google-auth-oauthlib==0.4.6
graphsurgeon==0.4.5
grpcio==1.39.0
gunicorn==20.1.0
h11==0.12.0
httptools==0.2.0
hypothesis==4.50.8
idna==3.1
imagesize==1.2.0
iniconfig==1.1.1
iopath==0.1.9
ipykernel==6.3.1
ipython==7.27.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.6
jsonpatch==1.32
jsonpointer==2.2
jsonschema==3.2.0
jupyter-client==7.0.2
jupyter-core==4.7.1
jupyter-tensorboard==0.2.0
jupyterlab==2.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupytext==1.11.5
kiwisolver==1.3.2
lap==0.4.0
lapsolver==1.1.0
libarchive-c==3.1
librosa==0.8.1
llvmlite==0.35.0
lmdb==1.2.1
lxml==4.7.1
Markdown==3.3.4
markdown-it-py==1.1.0
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mdit-py-plugins==0.2.8
mistune==0.8.4
mock==4.0.3
motmetrics==1.2.5
murmurhash==1.0.5
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.0
nltk==3.6.2
notebook==6.4.1
numba==0.52.0
numpy==1.21.2
nvidia-dali-cuda110==1.5.0
nvidia-dlprof-pytorch-nvtx==1.5.0
nvidia-dlprofviewer==1.5.0
oauthlib==3.1.1
onnx==1.8.204
onnx-simplifier==0.3.6
onnxoptimizer==0.2.6
onnxruntime==1.10.0
opencv-python==4.5.5.62
packaging==21.0
pandas==1.3.5
pandocfilters==1.4.3
parso==0.8.2
pathy==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
pip==21.2.4
pkginfo==1.7.1
pluggy==1.0.0
polygraphy==0.32.0
pooch==1.5.1
portalocker==2.3.2
pprint==0.1
preshed==3.0.5
prettytable==2.2.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.1
pycocotools==2.0+nv0.5.1
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.20
pydantic==1.8.2
pydot==1.4.2
pyflakes==2.1.1
Pygments==2.10.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
pytest==6.2.5
pytest-cov==2.12.1
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-dotenv==0.19.0
python-hostlist==1.21
python-nvd3==0.15.0
python-slugify==5.0.2
pytorch-quantization==2.1.0
pytrec-eval==0.5
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.2.1
regex==2021.8.28
requests==2.26.0
requests-oauthlib==1.3.0
resampy==0.2.2
revtok==0.0.3
rsa==4.7.2
ruamel-yaml-conda==0.15.80
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.2
Send2Trash==1.8.0
setuptools==57.4.0
shellingham==1.4.0
six==1.16.0
smart-open==5.2.1
snowballstemmer==2.1.0
SoundFile==0.10.3.post1
soupsieve==2.0.1
spacy==3.1.2
spacy-legacy==3.0.8
Sphinx==4.1.2
sphinx-glpi-theme==0.3
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
srsly==2.4.1
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorrt==8.0.3.0
termcolor==1.1.0
terminado==0.11.1
testpath==0.5.0
text-unidecode==1.3
thinc==8.0.8
thop==0.0.31.post2005241907
threadpoolctl==2.2.0
toml==0.10.2
torch==1.10.0a0+3fd9dcf
torchfile==0.1.0
torchnet==0.0.4
torchtext==0.11.0a0
torchvision==0.11.0a0
tornado==6.1
tqdm==4.62.2
traitlets==5.1.0
typer==0.3.2
typing-extensions==3.10.0.0
uff==0.6.9
urllib3==1.26.6
uvicorn==0.15.0
uvloop==0.16.0
visdom==0.1.8.9
wasabi==0.8.2
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
websockets==9.1
Werkzeug==2.0.1
wheel==0.37.0
whitenoise==5.3.0
xmltodict==0.12.0
yacs==0.1.8
